body {
  color:#575F7D;
  font-family: 'GFS Didot', serif;
  font-weight: lighter;
}

h1 {
  color:#F7567C;
  font-family: 'GFS Didot', serif;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  color:#F87493;
  font-family: 'GFS Didot', serif;
  font-weight: bold;
  font-size: 20px;
}

p {
  padding: 20px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color:#575F7D;
}

a:hover {
  color:#F7567C;
}

.card-white {
  background-color: white;
  padding: 40px 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 30px 0px ;
  text-align: center;
}
.introduction .card-white {
  height:350px;
}


.img-circle {
  border-radius: 50%;
  height:150px;
  width:150px;
}

.list-inline {
  padding-left: 0;
}

.list-inline i{
  display: inline-block;
  padding: 6px;
  font-size: 50px;
  opacity: 0.5;
}

.list-inline i:hover {
  opacity: 1;
}

a.btn-red:hover {
background-color: grey;
color:  white;
transition: 1s ease;
opacity: 1;
}

a.btn-red{
background-color: #F7567C;
color: white;
border-radius: 6px;
padding:10px 20px 10px;
font-size: 12px;
}

.container {
  width: 600px;
  margin:30px auto;
}

@media (max-width: 1200px) {
  .container {
    width:1000px;
  }

@media (max-width: 720px) {
  .container {
    width: 500px;
  }

@media (max-width: 540px) {
  .container {
    width: 300px;
  }


